/* ===========================
    RESET & GLOBAL STYLES
=========================== */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

/* ===========================
    SIDE IMAGE
=========================== */
.login-side-image {
     background-image: url('../images/pexels-anush-1431282.jpg');
     background-size: cover;
     background-position: center;
     height: 100vh;
     width: 50vw;
     float: left;
     transition: background-image 3s ease-in-out;
}

/* ===========================
    WRAPPER LOGIN
=========================== */
.wrapper-login {
     display: flex;
     justify-content: center; 
     align-items: center;    
     height: 100vh;
     background-color: white;
     color: black;
     transition: background-color 1s ease-in-out;
     
}

.wrapper-login.dark {
     background-color: #1E1E1E;
     color: white;
      
}

/* ===========================
    FORM STYLES
=========================== */
form {
     width: 400px;
     margin-top: 170px;
}

form .line {
     display: block;
     width: 100%;
     height: 1px;
     text-align: center;
     line-height: 1px;
     background-color: gray;
}

form input {
     padding: 12px;
     margin: 12px 12px 12px 0;
     width: 100%;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
     border: 2px solid yellow;
     outline: none;
}

form input[type="button"] {
     background-color: gold;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"]:active {
     box-shadow: inset 0 0 5px black;
}

form input[type="checkbox"] {
     display: block;
     width: auto;
}

/* ===========================
    CHECKBOX ROW
=========================== */
.checkbox-row {
     display: flex;
     align-items: center;
     font-weight: 400;
     
     
}

/* ===========================
  TOGGLE PASSWORD VISIBILITY
=========================== */

.toggle-password{
     width: 20px;
     height: 20px;
     position: absolute;
     margin-top: -42px;
     margin-left: 370px;
}

/* ===========================
    SOCIAL LOGIN BUTTONS
=========================== */
/* Google */
.google-login {
     display: flex;
     align-items: center;
     justify-content: center;
     background: white;
     border: 1px solid black;
     width: 100%;
     padding: 12px;
     margin-top: 20px;
}

.google-login img {
     width: 20px;
     margin-right: 10px;
}

.google-login:active img {
     transform: rotate(360deg);
     transition: transform 0.5s ease-in-out;
}

/* Apple */
.apple-login {
     display: flex;
     align-items: center;
     justify-content: center;
     background: white;
     border: 1px solid black;
     width: 100%;
     padding: 12px;
     margin-top: 20px;
}

.apple-login img {
     width: 20px;
     margin-right: 10px;
}

.apple-login:active {
     background: black;
     border: 1px solid white;
     color: white;
}

.apple-login:active img {
     filter: invert(1);
}

/* ===========================
    MOTIVATIONAL TEXT
=========================== */
.motivational-text {
     position: absolute;
     right: 0;
     top: 17%;
     transform: translateY(-50%);
     text-align: center;
     font-size: 80px;
     color: black;
     width: 50%;
}

.motivational-text.dark {
     color: white;
}

/* ===========================
    LIGHT/DARK MODE TOGGLE
=========================== */
.light-dark-mode img {
     width: 50px;
     height: 50px;
     position: absolute;
     top: 20px;   
     right: 20px;
}

/* ===========================
     ANCHOR (<a>) STYLES
=========================== */
a {
      margin-left: auto;
      text-decoration: none;
      color: black;
}

a.dark {
      color: white;
}

/* ===========================
     PARAGRAPH (<p>) STYLES
=========================== */
p {
     position: relative;
     top: 30px;
     text-align: center;
     font-weight: 400;
 
}

/* ===========================
     DIV Warning in register
=========================== */
.warning{
     color: red;
}